:root {
/* primary colors */
--Dark-blue: hsl(233, 26%, 24%); 
--Lime-Green: hsl(136, 65%, 51%); 
--Bright-Cyan: hsl(192, 70%, 51%); 


/* Neutral */
--Grayish-Blue: hsl(233, 8%, 62%); 
--Light-Grayish-Blue: hsl(220, 16%, 96%); 
--Very-Light-Gray: hsl(0, 0%, 98%); 
--White: hsl(0, 0%, 100%); 


/* typography */
--Font-size: 18px; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: var(--Font-size);
}

body {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.6;
  color: var(--Dark-blue);
  

  /* background-color: var(--Grayish-Blue); */
}


.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}


h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}

.btn {
  background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
  border: none;
  padding: 10px 30px;
  border-radius: 100vh; 
  color: var(--White); 
 }

 ul li {
   list-style-type: none;
 }

/* ==============================
        HEADER SECTION
============================== */

header {
  margin-bottom: 2em;

  position: relative; 

}

.logo {
  padding-top: 1em;
}
.flex-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;
}

.header-button {
  display: none; 
}

nav {
  width: 100%;
}

#navbar {
  position: absolute;
  top: 5em;
  left: 20%;


  width: 60%;
  text-align: center;
  padding: 1.5em;
  background-color: var(--White); 
  border-radius: 10px; 
  display: none;
  transition: all 0.3s ease-in-out;
  
}


#navbar li {
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 1em;
}

#navbar a {
  text-decoration: none;
  color: var(--Dark-blue);
  display: block; 
}


#hamburger-btn {
  position: absolute;
  top: 1em;
  right: 1em;

  cursor: pointer;
}


#hamburger-btn .hamburger-close {
  display: none; 
}




/* ==============================
        HERO SECTION
============================== */

.hero-section {
  background-color: var(--Very-Light-Gray); 
  padding-bottom: 2.5rem;

}

.hero-section .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.item_one {
  text-align: center;
  padding: 20px 0; 
}

.item_one_header h2 {
  font-size: 2.5rem; 
  padding-bottom: 15px; 
}

.item_one_body p {
  font-size: 1.1rem;
  padding-bottom: 15px; 
}



.item_two {
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover; 
}



/* ==============================
        WHY CHOOSE US
============================== */

.why-choose-us {
  padding: 30px 0;
  background-color: var(--Light-Grayish-Blue);
}

.why-choose-us img {
  max-width: 50px;
}

.choose-us-header {
  text-align: center;
}

.choose-us-header p {
  padding-top: 15px;
}

.bottom-items {
  padding: 30px 0; 
}

.flex-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.bottom-items .choose {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
 text-align: center;
}

.bottom-items .choose img, 
.bottom-items .choose h3 {
  padding-bottom: 13px;
}



/* ==============================
      LATEST ARTICLE
============================== */

.latest-articles {
  background-color: var(--Very-Light-Gray);
  padding-top: 30px;
  padding-bottom: 60px;
}

.latest-articles-header h2 {
  text-align: center;
  padding-bottom: 30px;
}

.latest-articles .grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px; 
}

.latest-articles .grid .article {
  background-color: var(--White);
  border: none;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  
}

.latest-articles .grid .article img {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 20px;
}

.latest-articles .grid .article-item-one {
  padding-bottom: 20px;
  margin-bottom: 2em;
}

.latest-articles .grid .article small,
.latest-articles .grid .article h3,
.latest-articles .grid .article p {
  padding-left: 20px;
  padding-bottom: 10px;
}

.latest-articles .grid .article h3 {
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 1.3rem;
}


/* ==============================
      FOOTER SECTION
============================== */

.footer-section {
  background-color: var(--Dark-blue);
  padding-top: 30px;
}

.nav-element-one img {
  max-width: 25px;
}

.footer-section a {
  color: var(--White); 
  text-decoration: none;
}

.nav-element-one,
.nav-element-two,
.footer-header {
  padding-bottom: 20px;
}
.footer-section .filter-white {
  filter: invert(98%) sepia(0%) saturate(30%) hue-rotate(150deg) brightness(150%) contrast(101%);
}

.footer-section .flex {
  text-align: center;
}

.nav-element-one ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav-element-one ul li {
  padding-right: 1em;
}
.nav-element-two ul li{
  padding-bottom: 1em;
}

.footer-button p {
  color: var(--Very-Light-Gray);
  opacity: 0.5;
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer-button .footer-item-copyright {
  margin-top: 10px;
  font-size: 1rem;
}
.footer-section .attribution {
  color: var(--Very-Light-Gray);
  display: none;
}

.attribution a {
  color: var(--Very-Light-Gray);
}